opentelemetry-api>=1.44.0
opentelemetry-sdk>=1.44.0
opentelemetry-instrumentation>=0.65b0
opentelemetry-exporter-otlp-proto-grpc>=1.44.0
prometheus-client>=0.24.1
psutil>=7.2.2
locust>=2.0.0
grafana-api>=1.0.0